<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Go podle Příkladů</title>
    <link rel=stylesheet href="site.css">
    <script type="text/javascript" src="live.js"></script>
  </head>
  <body>
    <div id="intro">
      <h2><a href="./">Go podle Příkladů</a></h2>
      <p>
        <a href="http://golang.org">Go</a> je open
        source programovací jazyk navržený pro tvorbu jednoduchého,
        rychlého a spolehlivého software.
      </p>

      <p>
        <em>Go podle Příkladů</em> je praktický úvod
        do Go pomocí komentovaných programových příkladů. Podívejte se
        na <a href="ahoj-svete">první příklad</a> nebo
        si projděte níže celý seznam.
      </p>

      <ul>
      {{range .}}
        <li><a href="{{.ID}}">{{.Name}}</a></li>
      {{end}}
      </ul>
      <p class="footer">
        od <a href="https://markmcgranaghan.com">Marka McGranaghana</a> | autor překladu <a href="mailto:martin.kunc(at)gmail.com">Martin Kunc</a> | <a href="https://github.com/martinkunc/gobyexample-cz">zdrojový kód</a> | <a href="https://github.com/mmcgrana/gobyexample#license">licence</a>
      </p>
    </div>
  </body>
</html>
